/* Add CSS Styling */
.odd-elements {
  background-color: pink;
  font-family: Verdana, "DejaVu Sans", sans-serif;
}
#second-element {
  color: blue;
  font-size: 36px;
}
.font-24px {
  font-size: 24px;
}
#forth-element {
  background-color: lightgreen;
  font-weight: bold;
}
