body {
  background: #eee;
  font-family: sans-serif;
}
/* * {
  border: 1px solid red;
} */

.card {
  width: 400px;
  background: #fff;
  margin: 10px auto;
  padding: 1px;
  font-size: 15px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
}

button {
  background: white;
  border: 1px solid #eee;
}
.title,
.content,
.button-container {
  margin: 7px;
  padding: 10px;
}
button {
  display: block;
  padding: 10px 20px;
  margin: 0px auto;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}
