/* Add CSS Styling */



/*another solutions*/
/* .container .text { */
/* div p{ */
/* .container p{ */

div .text{
  color: red;
  background-color: yellow;
  text-align: center;
  font-size: 20px;
}
